
@{
    ViewData["Title"] = "Home Page";
    var value = System.Environment.GetEnvironmentVariable("port");

}

<div class="text-center">
    <h1>This Application is running on @value</h1>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
